
@{
    ViewData["Title"] = "Result Page";
    var deletedUsername = (string)ViewBag.DeletedUsername;
 
}
<h1>@ViewData["Title"]</h1>

<p>Person @deletedUsername was removed from list successfully!</p>
